    * {
        background-color: #fcd084;
        color: #581C0C;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }

    #p {
        font-size: 50px;
        font-family: 'Signika', sans-serif;
    }

    #fondoForm {
        background-color: #693f34;
        min-height: 50vh;
        width: 69vh;
        margin-left: 32%;
        padding: 20px;
        border-radius: 10px;
    }

    #volverAtras {
        font-size: 22px;
        background-color: #02112400;
        color: white;
        text-decoration: none;
    }

    #volverBoth {
        background-color: #072a5700;
        margin-bottom: 3%;
    }

    #volverAtrasElemento {
        color: white;
        background-color: #02112400;
    }

    #volverAtrasElemento:hover {
        color: red;
        cursor: pointer;
    }

    .inputElement {
        background-color: transparent;
        color: #ffffff;
        font-size: 21px;
        border-width: 3.2px;
        border-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        height: 10%;
        width: 83%;
        margin-bottom: 1vh;
        padding: 5px;
        margin-left: 6%;

    }

    label {
        margin-left: 6%;
        margin-bottom: 0.5rem;
        font-size: 22px;
    }

    .inputElement::placeholder {
        background-color: transparent;
        color: #ffffff;
        border-color: #401464;

    }

    .iframeCont {
       
        background-color: #693f34;
        margin-left: 3%;
        width: 10%;
    }
    iframe{
        
        padding: 0;
        margin: 0;
    }
    #subirArchivo,
    label {
        background-color: transparent;
        color: #fff;

    }

    #subirArchivo {
        font-size: 16px;
        width: 100%;
        transition: .4s;
    }

    #subirArchivo[type=file]::file-selector-button {
        text-align: center;
        margin-left: 8%;
        background-color: #fcd084;
        border-radius: 10px;
        border-color: #fcd084;
        color: #581C0C;
        width: 11rem;
        padding: 8px;
        font-size: 21px;
        font-weight: 550;
    }

    #subirArchivo[type=file]::file-selector-button:hover {
        margin-left: 8%;
        background-color: #ff9f44;
        border-radius: 10px;
        border-color: #fcd084;
        color: #fff;
        width: 11rem;
        padding: 8px;
        font-size: 21px;
        cursor: pointer;
        font-weight: 550;
    }

    #cargarElemento {
        background-color: #fcd084;
        color: #581C0C;
        font-size: 23px;
        width: 30%;
        height: 15%;
        border-radius: 10px;
        margin-left: 34.5%;
        border-color: #fcd084;
        transition: .4s;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 10px;
        margin-top: 2.5vh;
    }

    #cargarElemento:hover {
        background-color: #ff9f44;
        color: #ffffff;
        border-color: #ff9f44;
        cursor: pointer;
    }
    .errorMessage {
        background-color: transparent;
        color: rgb(226, 168, 168);
        font-size: 15px;
    }