*{
    color: #581C0C;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #581C0C;
    border-radius: 5rem;
}
body{
    min-height: 100vh;
    background-color: #fcd084;
    overflow-x: hidden;
}
header{
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #581C0C;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: #7596de48;
    box-shadow:  7px 7px 14px #231f45,
                -7px -7px 14px #5f55bb00;
    
}
header ul li{
    list-style: none;
}
header ul li a{
    font-size: 1em;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
header ul li a:hover{
    background-color: #fff;
    color: #2b1055;
    border-radius: 4px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


#texto{
    color: #fff;
    position: absolute;
    font-size: 7.5vh;
    font-size: 1.5rem;
    z-index: 9;
    text-align: center;
    margin-top: 20rem;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 1.2rem 2.8rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #CA5116;
    color: ghostwhite;
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    color: ghostwhite;
   }
   
   button:hover span {
    color: ghostwhite;
    

   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: #581C0C;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   

.slide{
    position: relative;
    padding: 35px 25px;
    border-radius: 36px;
    
    background: #6e4033;
    /* box-shadow:  7px 7px 14px #24153b,
            -7px -7px 14px #4f2d8100; */
    /*
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    opacity:95%;
    */
}
.slide:hover{
    background: #6e4033;
    
}
.slide h2{
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: #fff;
}
.slide p{
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
  text-justify: inter-word;
}
/* #moon{
/*     
    height: 10px;
    width: auto;
    
} */ 
footer{
    background-color: #581C0C;
    color: #F1E3CB;
}
.text-cont-presen {
    width: 80%;
    overflow-wrap: break-word;
}
.text-cont-presen span {
    font-weight: bold;
}
.titulo-slide{
    margin-bottom: 100px;
}
.img-slide{
    border-radius: 10px;
}